<tr>
  <th colspan="2">
    <h4></h4>
  </th>
  <th>
    <%= humanized_money_with_symbol price / 100.0 %>
  </th>
  <th>
    <%= quantity %>
  </th>
  <th>
    <%= humanized_money_with_symbol item_total / 100.0 %>
  </th>
</tr>
