<tr>
  <th colspan="2">
    <h4><%= product %></h4>
  </th>
  <th>
    <%= humanized_money_with_symbol price %>
  </th>
  <th>
    <%= quantity %>
  </th>
  <th>
    <%= humanized_money_with_symbol item_total %>
  </th>
</tr>
